<footer>
    <div class="top">
      <div class="ccard">
        <div class="img">
          <img src="./img/crown.png" alt="" />
        </div>
        <div class="text">
          <p>Customer Service</p>
          <p>For any question please conatanct custmoer service@gmail.com</p>
        </div>
      </div>
      <div class="ccard">
        <div class="img">
          <img src="./img/hourse.png" alt="" />
        </div>
        <div class="text">
          <p>Complimentary delivivery</p>
          <p>on all orders</p>
        </div>
      </div>
      <div class="ccard">
        <div class="img">
          <img src="./img/Gift.png" alt="" />
        </div>
        <div class="text">
          <p>complimentary samples</p>
          <p>to be chosen at the checkout</p>
        </div>
      </div>
      <div class="ccard">
        <div class="img">
          <img src="./img/key.png" alt="" />
        </div>
        <div class="text">
          <p>secure payment</p>
          <p>for all payments</p>
        </div>
      </div>
    </div>
    <div class="middle">
      <div class="cccard">
        <p class="newsletter">NEWSLETTER</p>
        <p class="c-title">
          <em>new</em> fragrances, <br />
          <em>exclusive offers</em> <br />
          and <em>events.</em>
        </p>
        <input type="text" placeholder="Enter your email address" />
        <button class="card-buuton">SUBSCRIBE</button>
      </div>
    </div>
    <div class="bg-dark footer">
      <div class="footer-top py-8">
        <div class="container">
          <div class="row gy-5" id="bottom-footer">
            <div class="container">
              <div class="row d-lg-flex flex-lg-nowrap gy-5 pt-5">
                <!-- Social Media Links -->
                <div class="col-6 col-lg-3">
                  <h5 class="text-white footer-title-01">Social Media</h5>
                  <ul class="list-unstyled footer-link-01 m-0">
                    <li>
                      <a
                        class="text-white text-opacity-75"
                        href="https://www.instagram.com/aloura.eg/"
                        target="_blank"
                      >
                        <i class="fab fa-instagram"></i> Instagram
                      </a>
                    </li>
                    <li>
                      <a
                        class="text-white text-opacity-75"
                        href="https://www.tiktok.com/@aloura.perfumes?lang=en"
                        target="_blank"
                      >
                        <i class="fab fa-tiktok"></i> TikTok
                      </a>
                    </li>
                    <li>
                      <a
                        class="text-white text-opacity-75"
                        href="#"
                        target="_blank"
                      >
                        <i class="fab fa-facebook"></i> Facebook
                      </a>
                    </li>
                  </ul>
                </div>

                <!-- About Section -->
                <div class="col-6 col-lg-3">
                  <h5 class="text-white footer-title-01">About</h5>
                  <ul class="list-unstyled footer-link-01 m-0">
                    <li>
                      <a
                        class="text-white text-opacity-75"
                        href="/our-story"
                        >About Us</a
                      >
                    </li>
                    <li>
                      <a class="text-white text-opacity-75" href="#"
                        >Privacy Policy</a
                      >
                    </li>
                    <li>
                      <a class="text-white text-opacity-75" href="#"
                        >Cookie Policy</a
                      >
                    </li>
                    <li>
                      <a class="text-white text-opacity-75" href="#"
                        >Terms & Conditions</a
                      >
                    </li>
                    <li>
                      <a class="text-white text-opacity-75" href="#"
                        >Terms of Use</a
                      >
                    </li>
                  </ul>
                </div>

                <!-- Help Section -->
                <div class="col-6 col-lg-3">
                  <h5 class="text-white footer-title-01">Need Help?</h5>
                  <ul class="list-unstyled footer-link-01 m-0">
                    <li>
                      <a class="text-white text-opacity-75" href="#"
                        >Contact Us</a
                      >
                    </li>
                    <li>
                      <a class="text-white text-opacity-75" href="#">FAQs</a>
                    </li>
                    <li>
                      <a class="text-white text-opacity-75" href="#"
                        >Offers & Kits</a
                      >
                    </li>
                    <li>
                      <a class="text-white text-opacity-75" href="#"
                        >Get the App</a
                      >
                    </li>
                    <li>
                      <a class="text-white text-opacity-75" href="#"
                        >Store Locator</a
                      >
                    </li>
                  </ul>
                </div>

                <!-- Company News -->
                <div class="col-6 col-lg-3">
                  <h5 class="text-white pb-3">Company News</h5>
                  <div class="news-item d-flex align-items-center">
                    <img
                      src="https://bootdey.com/img/Content/avatar/avatar1.png"
                      alt="News Image"
                      class="me-2"
                      width="50"
                    />
                    <div class="news-text">
                      <small>29 March 2021</small>
                      <h6>
                        <a class="text-white text-opacity-75" href="#"
                          >Founders of Aloura</a
                        >
                      </h6>
                    </div>
                  </div>
                  <div class="news-item d-flex align-items-center mt-2">
                    <img
                      src="https://bootdey.com/img/Content/avatar/avatar2.png"
                      alt="News Image"
                      class="me-2"
                      width="50"
                    />
                    <div class="news-text">
                      <small>29 March 2021</small>
                      <h6>
                        <a class="text-white text-opacity-75" href="#"
                          >Founders of Aloura</a
                        >
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="footer-bottom small py-3 border-top border-white border-opacity-10 bg-black"
      >
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center text-md-start py-1">
              <p class="m-0 text-white text-opacity-75">
                © 2022 copyright by
                <a class="text-reset" href="#">bootdey.com</a>
              </p>
            </div>
            <div class="col-md-6 text-center text-md-end py-1">
              <ul
                class="nav justify-content-center justify-content-md-end list-unstyled footer-link-01 m-0"
              >
                <li class="p-0 mx-3 ms-md-0 me-md-3">
                  <a href="#" class="text-white text-opacity-75"
                    >Privace &amp; Policy</a
                  >
                </li>
                <li class="p-0 mx-3 ms-md-0 me-md-3">
                  <a href="#" class="text-white text-opacity-75">Faq's</a>
                </li>
                <li class="p-0 mx-3 ms-md-0 me-md-3">
                  <a href="#" class="text-white text-opacity-75"
                    >Get a Quote</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>