<!-- Navbar-specific CSS -->
<link rel="stylesheet" href="./css/navBar.css" />

<!-- Translate related -->
<script>
  window.gtranslateSettings = {
    default_language: "en",
    native_language_names: false,
    detect_browser_language: true,
    languages: ["en", "ar", "es", "fr", "de"],
    wrapper_selector: ".gtranslate_wrapper",
  };
</script>
<script
  src="https://cdn.gtranslate.net/widgets/latest/dropdown.js"
  defer
></script>

<!-- Navbar Code -->
<nav>
  <!-- Left side container with logo and translate -->
  <div class="left-container-nav">
    <!-- Logo on left side -->
    <div class="logo">
      <a href="/"> <img src="./img/logo.png" alt="Logo" /></a>
    </div>

    <!-- Translate next to logo -->
  </div>

  <div class="actions">
    <ul>
      <li><div class="gtranslate_wrapper"></div></li>
      <li><i class="fa-solid fa-magnifying-glass"></i></li>
      <li>
        <button
          style="border: none; background-color: transparent"
          data-bs-toggle="modal"
          data-bs-target="#loginModal"
        >
          <i class="fa-regular fa-circle-user"></i>
        </button>
      </li>
      <li>
        <button
          style="border: none; background-color: transparent"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight">
          <i class="fa-solid fa-cart-shopping"></i>
        </button>
      </li>
    </ul>
  </div>

  <button class="mobile-menu-btn">
    <i class="fa-solid fa-bars"></i>
  </button>

  <div class="links">
    <ul>
      <div class="mobile-logo">
        <a href="/">
          <img src="./img/logo.png" alt="Logo" />
        </a>
      </div>

      <li><a href="./all-fragrances">Fragrances</a></li>
      <li><a href="./collections">Collections</a></li>
      <li><a href="./fragrance-quiz">Quiz</a></li>
      <li><a href="./our-story">Our Story</a></li>
    </ul>
  </div>
</nav>
