<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public/css/test.css">
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.35/fullpage.css" 
        integrity="sha512-trG9BE1BA0iWAor8wNNMvwuj33BizDV+7LdiVfbpDh0mY/WlG3G1fgQwgEwu7Y5UT8piZqEYFLeeV6EosW+Y9Q=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    
</head>
<body>
    <div id="fullpage">
        <div class="section s1">
            <h1>The first section</h1>
        </div>
        <div class="section s2">
            <h1>The second section</h1>
        </div>
        <div class="section s3">
            <h1>The third section</h1>
        </div>
        
    </div>

    
    <script 
    src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.35/fullpage.js"
    integrity="sha512-d/I+GkjPLo+mLryB2HWAj/NzVf7F7JFs06B30C77QK9S8XHHaVHxfyaItHZq3iM0zRLZQ6iIhDkBrTvuRITK0Q=="
    crossorigin="anonymous" 
    referrerpolicy="no-referrer">
    </script>

    <script>
        new fullpage('#fullpage', {
            autoScrolling: true
            , navigation: true
        })
    </script>

    <style>
        /* Hide made with fullpage.js at last slide */
        .fp-watermark {
            display: none !important;
        }
    </style>
    

</body>
</html>