/* MIDDLE BAR RELATED For filtering*/

.middle-links {
  display: flex;
  justify-content: center; /* Center the links horizontally */
  padding: 15px 0; /* Smaller padding for a good look */
  background-color: transparent;
  width: 100%;
  margin: auto; /* Center the block element */
  transition: background-color 0.4s ease-in-out; /* Smooth transition for color changing */

  position: relative;
  top: 75px;
}

.middle-links:hover {
  background-color: white; /* Change background on hover */
}

.middle-links ul {
  display: flex;
  justify-content: center; /* Center the links */
  list-style: none; /*Without bullets*/
  gap: 30px; /* Smaller gap between links */
  text-transform: uppercase; 
  font-weight: normal;
  font-size: 14px; /* Smaller font size */
  margin: 0;
  padding: 0;
}

.middle-links li a {
  text-decoration: none;
  color: #000;
  position: relative;
}

.middle-links li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px; /* Thinner underline */
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  transition: 0.3s; /* THIS CONTROLS THE SPEED OF THE UNDERLINE ANIMATION */
  bottom: -3px; /* Adjust underline position */
  right: 50%;
}

.middle-links li a:hover::after {
  width: 100%;
  right: 0;
}
/* END OF MIDDLE LINKS RELATED */

/* ALL FRAGRANCES Header */
#header {
    color: black;

    /* Letter display related */
    font-weight: 100; /* Add this to make the font look think and clean */
    font-size: 64px; /* Added this line for 64px font size */
    font-family: "Monotype Baskerville", serif;
    letter-spacing: .1em; /* Distance between letters for design */
    line-height: 100%;

    margin: 5px;
    text-align: center;
    text-transform: uppercase;

    position: relative;
    top: 80px;
}

/* Downloaded Font - Hosting it our self */
@font-face {
    font-family: "Monotype Baskerville";
    src: url("./public/fonts/MT Baskerville ET W08 Roman.woff2") format("woff2"),
         url("./public/fonts/MT Baskerville ET W08 Roman.woff") format("woff"),
         url("./public/fonts/MT Baskerville ET W08 Roman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* CARD RELATED */

/* Cards Container */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* columns with equal width */
  /* EXPLAINATION WITHOUT MEDIA QUERIES
      repeat(): Repeats a pattern for columns or rows.
      Non-responsive old way: repeat(3, 1fr) creates 3 columns with equal width.
      auto-fit: Fits as many columns as possible into the available space, Wraps columns to the next row if there’s not enough space
      Minimum width: 250px (columns won’t shrink below this).
      Maximum width: 1fr (columns expand to fill extra space).
 */

  gap: 0px; /* Space between cards */
  row-gap: 55px; /* 55 exactly to make the scroll animation work on reload of page*/
  margin: 20px; /* Space around cards contiainer*/
  margin-top: 0px;
  padding: 100px; /* Space between card container edge and the content inside (cards) */

  /* Make it so that user can't shrink window beyond a certain point */
  min-width: 545px;
}

/* Card Container */
.card {
  width: auto; /* How much space the card takes up from a block, automatic and let the card-container grid handle it */
  border: 1px solid #e0e0e0;
  border-radius: 10px; /* Used for rounded corners */
  overflow: visible; /* Allow dropdown to extend outside the card */
  text-align: center; /* To allign all text in the center, has to be included */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1); /* Shadows for design */
  background-color: #fff;
  margin: -5px; /* Space around the card*/
  position: relative; /* Ensure dropdown is positioned relative to the card */

  scale: 0.9;
}

/* Card Label */
.card-label {
  position: absolute; /* Position the label absolutely (top left so it can have other stuff on it) within the card */
  height: auto;

  top: 1%; /* Align to the top of the card */
  left: 1.5%; /* Align to the left of the card */
  padding: 7.5px; /* Padding for spacing */
  border-radius: 5px;
  font-size: 12px;

  background: black;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.35);

  color: #f5f5f5;
  font-weight: bold;
  font-family: "Poppins", sans-serif; /* More modern font */
  text-transform: uppercase;
  letter-spacing: 1px;

  text-transform: uppercase; /* Uppercase text */

  pointer-events: none; /* Completely disables interaction */
  cursor: default; /* Ensures no cursor change */
} 

/* Card Image Container */
.card-image-container {
  width: 100%; /* Container Matches the card width */
  height: 100%; /* Container Matches the card height untill it reaches the card title */
  top: 0; /* Aligns it with the card */
  left: 0;
  z-index: 2; /* Ensures it remains interactive */
  cursor: pointer; /* Ensure the image container is the one clickable since it's pefectly alligned with the card. */
}

/* Card Image */
.card-image {
  width: 100%; /* Image fills out the entire card */
  height: 100%; /* Auto determine the card's height, changed it to be 65% because some errors happend */ 
  background-color: transparent;  /* Hide it's background so it doesn't hide the title text! */
  pointer-events: none; /* Make sure that only the card image container is the only one clickable since image goes out of the card and will mess the click up */
}

/* Card Title */
.card-title {
  color: black;

  font-weight: 400; /* Add this to make the font look think and clean */
  font-size: 24px;
  font-family: "Monotype Baskerville", serif;

  letter-spacing: .1em;
  line-height: 100%;
  margin: 10px 0;
  text-transform: uppercase;
}

/* Card Type */
.card-type {
  color: #121212;

  font-weight: normal; /* Add this to make the font look think and clean */
  opacity: 0.93;
  font-size: 16px;
  font-family: "Inter", sans-serif;

  letter-spacing: .1em;
  line-height: 100%;
  margin: .5rem 0;
  text-transform: uppercase;
}

/* Card Mood */
.card-mood {
  font-size: 14px;
  color: #646464;
  margin: 0.7rem 0; /* Space between mood & top/bottom */
}

/* Price + ml */
.card-price {
  display: flex;
  justify-content: space-between; /* Justify with space between the elements on each end */
  align-items: center;
  padding: 0 20px; /* space between inner edges and the text */
  margin: 1px 0; 
  position: relative; /* Needed for absolute positioning of dropdown */
}

/* Prices inside the card-price class */
.card-price .price {
  font-size: 15px;
  font-weight: bold;
  color: #333;
}

/* milliters inside the card-price class */
.card-price .ml {
  font-size: 14px;
  color: #666;
  cursor: pointer;
}

/* Card Separator between add to cart*/
.card-separator {
  border: 0;
  height: 3.5px;
  background-color: #e0e0e0;
  margin: 10px 20px;
  margin-top: 5px;
}

/* Add to Cart Button */
.card-button {
  width: 80%;
  padding: 10px;
  margin: auto;
  margin-top: 10px; /* Bring the button closer to the line seperator*/
  margin-bottom: 15px; /* Bring the button closer to the line seperator*/

  font-weight: normal; /* Add this to make the font look think and clean */
  font-size: 16px; /* Added this line for 64px font size */
  font-family: "Monotype Baskerville", serif;
  letter-spacing: .1em; /* Distance between letters for design */
  line-height: 100%;
  text-transform: uppercase;

  background-color: #fff;
  color: #000;
  border: 0.5px solid black;
  border-radius: 5px;
  cursor: pointer;

  /* Animation */
  transition: background-color 0.1s linear;
}

/* Card hovering animation: change background and text color */
.card-button:hover {
  background-color: black;
  color: white;
}

/* END OF CARD RELATED */

/* Animation related */
/* Most of them from cssanimation.io */

/* REMOVED HOVERING IMAGE WITH HOVERING CONTAINER IMAGE
.card-image:hover { 
animation: card-image-animation infinite 2s ease-in-out;
}
*/
/* Now hovering over the image inside the container is what causes the hover! */
.card-image-container:hover .card-image {
  animation: card-image-animation infinite 2s ease-in-out;
}

.card-image-container:not(:hover) .card-image {
  animation: fadeIn  1.5s ease-in-out;
}

@keyframes card-image-animation {
    50% { transform: translateY(30px) }
}

/* Fade in animation used for drop down menu */
@keyframes fadeInTop {
  from {
      opacity: 0;
      transform: translateY(-10px); /* Adjust for a subtle fade-in */
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Fade out animation - drop down menu*/
@keyframes fadeOutTop {
  from {
      opacity: 1;
      transform: translateY(0);
  }
  to {
      opacity: 0;
      transform: translateY(-10px); /* Adjust for a subtle fade-out */
  }
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

/* WOBBLING EFFECT!!
@keyframes card-image-animation {
  0%, 100% { transform: translate(0, 0) rotate(0); } 
  25% { transform: translate(-5px, -5px) rotate(-5deg); } 
  50% { transform: translate(5px, 5px) rotate(5deg); } 
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
}
*/

/* End of Animation related */

/* DROP DOWN MENU RELATED */

/* Dropdown Menu */
.dropdown-menu {
  display: none; /* Always visible for animation purposes */
  position: absolute;
  background-color: white;
  border: 1px solid black;
  width: calc(100% - 40px); /* Account for padding in parent */
  top: 100%; /* Position at the bottom of the parent */
  margin-top: 10px; /* Adjust spacing to align with the line separator */
  z-index: 1; /* Ensure it appears above other elements */
  box-sizing: border-box; /* Include padding and border in the width calculation */
  left: 20px; /* Align with the left padding of the parent */
  right: 20px; /* Align with the right padding of the parent */

  /* For animation */
  opacity: 0; /* Start hidden */
  transform: translateY(-10px); /* Start slightly above */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
  pointer-events: none; /* Disable interaction when hidden */
}

/* Dropdown Options */
.dropdown-option {
  display: flex;
  justify-content: space-between; /* Align price and ml on opposite ends */
  padding: 10px;
  font-size: 14px;
  color: black;
  cursor: pointer;
  text-align: left;
}

/* Style for Dropdown Price and ML: */
.dropdown-price {
  font-weight: bold;
  color: #333;
}
.dropdown-ml {
  color: #666;
}

/* Hover effect for dropdown options */
.dropdown-option:hover {
background-color: #f1f1f1;
}

/* Show dropdown menu when active */
.card-price.active .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto; /* Enable interaction when visible */
    animation: fadeInTop 0.3s ease forwards;
}

/* Hide dropdown menu with fade-out animation */
.card-price:not(.active) .dropdown-menu {
  animation: fadeOutTop 0.3s ease forwards;
}

/* END OF DROP DOWN MENU RELATED */

/* DROP DOWN MENU OF FILTERS RELATED */

/* Filter Container */
.filter-container {
  position: relative;
  display: inline-block;
  top: 6.5rem;
  margin-left: 8.5rem; /* Add relative margin to the left to work on different devices*/
  z-index: 1000; /* Ensure the filter container is above other elements: this includes all it's wrapped elemnents including the drop-down menu itself! */
}

/* Filter Button */
.filter-button {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 7px 17px; /* Space around the text itself */
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease; /* Speed at which transitions happen for the background-color for example hovering*/
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

  /* To match rest of page's font style! */
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 0.8rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.filter-button:hover {
  background-color: #f1f1f1;
}

/* Dropdown Menu of filters*/
.dropdown-menu-filter {
  display: none;
  position: absolute; /* Removing this will cause the drop-down menu to push all cards/entire page down! Absolute meaning it can have other elements on it */
  background-color: white;
  border: 1px solid #ccc;
  width: 200px;
  top: 100%;
  margin-top: 10px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

/* Dropdown Options */
.dropdown-option-filter {
  padding: 10px;
  font-size: 14px;
  color: black;
  cursor: pointer;
  text-align: left;
}

.dropdown-option-filter:hover {
  background-color: #f1f1f1;
}

/* Show dropdown menu when active */
.filter-container.active .dropdown-menu-filter {
  display: block;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  animation: fadeInTop 0.3s ease forwards;
}

/* Hide dropdown menu with fade-out animation */
.filter-container:not(.active) .dropdown-menu-filter {
  animation: fadeOutTop 0.3s ease forwards;
}

/* END OF DROP DOWN MENU OF FILTERS RELATED */

/* Image scaling */
#stronger-with-you img {
  scale: 0.9;
}

#ultra-male img {
  scale: 1.1;
}

#spicebomb-extreme img {
  scale: 1.15;
}

#bleu-de-chanel img {
  scale: 0.8;
}

#versace-eros-flame img {
  scale: 1.1;
}

#valentino-born-in-roma img {
  scale: 0.75;
}

#xerjoff-alexandria-2 img {
  scale: 0.9;
}

/* End of Image scaling */


.custom-offcanvas {
  min-width: 600px !important; /* Adjust as needed */
}


.offcanvas-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
}