/* ALL FRAGRANCES Header */
#header {
    color: black;

    /* Letter display related */
    font-weight: 100; /* Add this to make the font look think and clean */
    font-size: 64px; /* Added this line for 64px font size */
    font-family: "Monotype Baskerville", serif;
    letter-spacing: .1em; /* Distance between letters for design */
    line-height: 100%;

    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

/* Downloaded Font - Hosting it our self */
@font-face {
    font-family: "Monotype Baskerville";
    src: url("./public/fonts/MT Baskerville ET W08 Roman.woff2") format("woff2"),
         url("./public/fonts/MT Baskerville ET W08 Roman.woff") format("woff"),
         url("./public/fonts/MT Baskerville ET W08 Roman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* CARD RELATED */

/* Cards Container */
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns with equal width */
  gap: 10px; /* Space between cards */
}

/* Card Container */
.card {
  width: auto; /* How much space the card takes up from a block, automatic and let the card-container grid handle it */
  border: 1px solid #e0e0e0;
  border-radius: 10px; /* Used for rounded corners */
  overflow: hidden; /*Don't know yet*/
  text-align: center; /* To allign all text in the center, has to be included */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Shadows for design */
  background-color: #fff;
  margin: 25px; /* Space around the card*/
}

/* Card Image */
.card-image {
  width: 100%; /* Image fills out the entire card */
  height: auto; /* Auto determine the card's height */
  background-color: transparent;  /* Hide it's background so it doesn't hide the title text! */
}

/* Card Title */
.card-title {
  color: black;

  font-weight: 400; /* Add this to make the font look think and clean */
  font-size: 24px;
  font-family: "Monotype Baskerville", serif;

  letter-spacing: .1em;
  line-height: 100%;
  margin: 10px 0;
  text-transform: uppercase;
}

/* Card Type */
.card-type {
  color: #121212;

  font-weight: normal; /* Add this to make the font look think and clean */
  opacity: 0.93;
  font-size: 16px;
  font-family: "Inter", sans-serif;

  letter-spacing: .1em;
  line-height: 100%;
  margin: .5rem 0;
  text-transform: uppercase;
}

/* Card Mood */
.card-mood {
  font-size: 14px;
  color: #646464;
  margin: 1rem 0; /* Space between mood & top/bottom */
}

/* Price + ml */
.card-price {
  display: flex;
  justify-content: space-between; /* Justify with space between the elements on each end */
  align-items: center;
  padding: 0 20px; /* space between inner edges and the text */
  margin: 10px 0; 
}

/* Prices inside the card-price class */
.card-price .price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* milliters inside the card-price class */
.card-price .ml {
  font-size: 14px;
  color: #666;
}

/* Card Separator between add to cart*/
.card-separator {
  border: 0;
  height: 1px;
  background-color: #e0e0e0;
  margin: 10px 20px;
}

/* Add to Cart Button */
.card-button {
  width: 80%;
  padding: 10px;
  margin: 20px;
  margin-top: 10px; /* Bring the button closer to the line seperator*/

  font-weight: normal; /* Add this to make the font look think and clean */
  font-size: 16px; /* Added this line for 64px font size */
  font-family: "Monotype Baskerville", serif;
  letter-spacing: .1em; /* Distance between letters for design */
  line-height: 100%;
  text-transform: uppercase;

  background-color: #fff;
  color: #000;
  border: 0.5px solid black;
  border-radius: 5px;
  cursor: pointer;

  /* Animation */
  transition: background-color 0.1s linear;
}

/* Card hovering animation: change background and text color */
.card-button:hover {
  background-color: black;
  color: white;
}

/* END OF CARD RELATED */

/* Animation related */
.card-image:hover { 
animation: card-image-animation infinite 2s ease-in-out;
}

@keyframes card-image-animation {
    50% { transform: translateY(30px) }
}

#stronger-with-you img {
  scale: 0.9;
}

#ultra-male img {
  scale: 1.1;
}

#spicebomb-extreme img
{
  scale: 1.15;
}