/* FLIPPING CARD RELATED */
.card-flip-container {
  perspective: 1000px;
  width: 350px;
  height: 210px;
  margin: 20px auto;
  z-index: 100;
  margin-top: 40px;
}

.card-flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-flip-container:hover .card-flip-inner {
  transform: rotateY(180deg);
}

.card-flip-front, .card-flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 25px;
  padding: 25px;
}

.card-flip-front {
  background: url('../img/checkout-related/card-pattern2.png') no-repeat center center;
  color: black;
  box-shadow: 0 8px 45px rgba(0, 0, 0, 0.15);
}

.card-flip-back {
  /* background: linear-gradient(90deg, #cfd2d4, #f3f5f5); */
  background: url('../img/checkout-related/card-pattern2.png') no-repeat center center;
  color: black;
  transform: rotateY(180deg);
  box-shadow: 0 8px 45px rgba(0, 0, 0, 0.15);
}

/* Card Contents */
.card-header-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-logo {
  display: flex;
  align-items: center;
}

.card-logo img {
  width: 48px;
  margin-right: 10px;
}

.card-chip {
  width: 50px;
}

.card-details {
  display: flex;
  margin-top: 40px;
  align-items: flex-end;
  justify-content: space-between;
}

.card-text-small {
  font-size: 10px;
  font-weight: 400;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.card-text-normal {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.card-number {
  font-size: 16px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  text-align: left;
}

.card-name {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  text-align: left;
}

.magnetic-strip {
  position: absolute;
  top: 40px;
  left: 0;
  height: 45px;
  width: 100%;
  background: #000;
}

.signature {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 80px;
  height: 40px;
  width: 85%;
  border-radius: 6px;
  background: repeating-linear-gradient(
    #fff,
    #fff 3px,
    #efefef 0px,
    #efefef 9px
  );
}

.signature i {
  color: #000;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 4px;
  background-color: #fff;
  margin-right: -30px;
  z-index: 1;
}

/* Media queries for the flip card */
@media (max-width: 1200px) {
  .card-flip-container {
    width: 330px;
    height: 200px;
  }
  
  .card-number {
    font-size: 15px;
  }
  
  .card-chip {
    width: 45px;
  }
}

@media (max-width: 992px) {
  .card-flip-container {
    width: 310px;
    height: 190px;
  }
  
  .card-logo img {
    width: 42px;
  }
  
  .card-flip-front, .card-flip-back {
    padding: 22px;
  }
  
  .card-details {
    margin-top: 35px;
  }
  
  .magnetic-strip {
    height: 40px;
    top: 35px;
  }
  
  .signature {
    margin-top: 70px;
    height: 35px;
  }
}

@media (max-width: 768px) {
  .card-flip-container {
    width: 290px;
    height: 175px;
  }
  
  .card-logo img {
    width: 38px;
    margin-right: 8px;
  }
  
  .card-text-normal {
    font-size: 13px;
  }
  
  .card-text-small {
    font-size: 9px;
  }
  
  .card-number {
    font-size: 14px;
  }
  
  .card-chip {
    width: 40px;
  }
  
  .card-flip-front, .card-flip-back {
    padding: 20px;
    border-radius: 20px;
  }
  
  .card-details {
    margin-top: 30px;
  }
  
  .magnetic-strip {
    height: 38px;
    top: 30px;
  }
  
  .signature {
    margin-top: 65px;
    height: 32px;
    width: 80%;
  }
}

@media (max-width: 576px) {
  .card-flip-container {
    width: 270px;
    height: 160px;
  }
  
  .card-logo img {
    width: 35px;
    margin-right: 6px;
  }
  
  .card-text-normal {
    font-size: 12px;
  }
  
  .card-text-small {
    font-size: 8px;
  }
  
  .card-number {
    font-size: 13px;
    letter-spacing: 0.8px;
  }
  
  .card-chip {
    width: 35px;
  }
  
  .card-flip-front, .card-flip-back {
    padding: 18px;
    border-radius: 18px;
  }
  
  .card-details {
    margin-top: 25px;
  }
  
  .card-name {
    margin-top: 18px;
  }
  
  .magnetic-strip {
    height: 35px;
    top: 25px;
  }
  
  .signature {
    margin-top: 55px;
    height: 30px;
  }
}

@media (max-width: 400px) {
  .card-flip-container {
    width: 250px;
    height: 150px;
  }
  
  .card-logo img {
    width: 32px;
    margin-right: 5px;
  }
  
  .card-number {
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  
  .card-chip {
    width: 32px;
  }
  
  .card-flip-front, .card-flip-back {
    padding: 15px;
    border-radius: 15px;
  }
  
  .card-details {
    margin-top: 22px;
  }
  
  .card-name {
    margin-top: 15px;
  }
  
  .magnetic-strip {
    height: 32px;
    top: 22px;
  }
  
  .signature {
    margin-top: 50px;
    height: 25px;
  }
  
  .signature i {
    font-size: 10px;
    padding: 3px 5px;
  }
}

/* Override the global animation settings for the card components */
.card-flip-container *,
.card-flip-inner,
.card-flip-front,
.card-flip-back {
  animation-duration: 0.8s !important;
  transition-duration: 0.8s !important;
}