nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 0px 20px;
    align-items: center;
    min-height: 8vh;
    background-color: transparent;
    position: fixed;
    width: 100vw;
    z-index: 99999;
    top: 0;
    border-bottom: rgba(128, 128, 128, 0.312) 1px solid;
  }
  
  nav .logo {
    width: 100px;
  }
  
  nav .logo img {
    width: 100%;
  }
  
  nav .links ul,
  nav .actions ul {
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style: none;
  }
  
  nav .links ul {
    gap: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
  }
  
  nav .actions ul {
    gap: 15px;
    font-size: 20px;
  }
  
  nav .links li a {
    text-decoration: none;
    text-wrap: nowrap;
    color: #000;
    position: relative;
  }
  
  nav .links li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    transition: 0.5s;
    bottom: -5px;
    right: 50%;
  }
  
  nav .links li a:hover::after {
    width: 100%;
    right: 0;
  }
  
  nav .actions ul li:nth-child(2) {
    border-right: 2px solid #000;
    padding-right: 15px;
  }
  