nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px 0px 20px;
  align-items: center;
  background-color: transparent;
  position: fixed;
  width: 100vw;
  height: 60px; /* Add a fixed height */
  z-index: 99999;
  transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out; /* Add transform transition */
}

  nav:hover {
    background-color: white;
}

  
  nav .logo {
    width: 40px;
  }
  
  nav .logo img {
    width: 100%;
  }

  /* centering the buttons without shifting the logo and cart. */
  nav .links {
    flex-grow: 1;  
    display: flex;
    justify-content: center; /*horizontally centers the fucking buttons*/
    margin-left: 100px; /* Move links to the right */

  }

  /* hide links by default unless hovering up there */
nav .links ul {
  display: flex;
  justify-content: space-around;
  width: 40%;
  list-style: none;
  opacity: 0; /* Hide links */
  visibility: hidden; /* Hide links */
  gap: 40px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out; /* Smooth transition */
}

/* Show links on hover */
nav:hover .links ul {
  opacity: 1; /* Show links */
  visibility: visible; /* Show links */
}
  
  nav .links ul,
  nav .actions ul {
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style: none;
  }
  
  nav .links ul {
    gap: 40px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
  }
  
  nav .actions {
    display: flex;
    justify-content: flex-end; 
    margin-right: 30px; 
  }

  nav .actions ul {
    gap: 15px;
    font-size: 20px;
  }
  
  nav .links li a {
    text-decoration: none;
    text-wrap: nowrap;
    color: #000;
    position: relative;
  }
  
  nav .links li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    transition: 0.5s;
    bottom: -5px;
    right: 50%;
  }
  
  nav .links li a:hover::after {
    width: 100%;
    right: 0;
  }
  
  nav .actions ul li:nth-child(2) {
    border-right: 2px solid #000;
    padding-right: 15px;
  }