* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 10000000px;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px 0px 20px;
  align-items: center;
  min-height: 8vh;
  background-color: transparent;
  position: fixed;
  width: 100vw;
  z-index: 99999;
  top: 0;
  border-bottom: rgba(128, 128, 128, 0.312) 1px solid;
}

nav .logo {
  width: 100px;
}

nav .logo img {
  width: 100%;
}

nav .links ul,
nav .actions ul {
  display: flex;
  justify-content: space-around;
  width: 40%;
  list-style: none;
}

nav .links ul {
  gap: 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

nav .actions ul {
  gap: 15px;
  font-size: 20px;
}

nav .links li a {
  text-decoration: none;
  text-wrap: nowrap;
  color: #000;
  position: relative;
}

nav .links li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  transition: 0.5s;
  bottom: -5px;
  right: 50%;
}

nav .links li a:hover::after {
  width: 100%;
  right: 0;
}

nav .actions ul li:nth-child(2) {
  border-right: 2px solid #000;
  padding-right: 15px;
}

.gender {
  display: flex;
  width: 100vw;
  height: 100vh; /* Full screen height */
  overflow: hidden; /* Prevents overflow */
  position: relative;
}

.female,
.male {
  flex: 1;
  position: relative;
  transition: flex 0.5s ease-in-out; /* Smooth transition */
  overflow: hidden;
}

.female img,
.male img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out; /* Smooth image scaling */
}

.text-overlay {
  text-transform: uppercase;
  position: absolute;

  top: -50px;
  left: 35px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: white;
  font-size: 42px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.title {
  width: 470px;
  height: 300px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  position: absolute;
  z-index: 3;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  top: 300px;
  left: 200px;
}

.title h1 {
  font-size: 100px;
}

/* Hover effect - Fade and Slide Up */
.female:hover .title,
.male:hover .title {
  transform: translateY(-20px); /* Moves title up slightly */
}

.female:hover,
.male:hover {
  flex: 3; /* Expand the hovered section*/
}

.female:hover img,
.male:hover img {
  transform: scale(1.1); /* Slightly enlarge the image */
}

a {
  color: white;
  text-decoration: underline;
}

.quality{
  display: flex;
  position: relative;  /* Ensures child elements are positioned inside this */
  width: 100%; /* Adjust as needed */
  height: 500px; /* Set a height to see the effect */
  background-color: lightgray; /* Just for visibility */
}

.quality-pic {
  flex: 1;
  width: 25%; /* Adjust as needed */
  height: 25%;
  top: 0;
  right: 0;
}