* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* height: 100px; */
  overflow-x: hidden;
}

/*~~FOR HIM & FOR HER~~*/

.gender {
  display: flex; /* Makes this container be a FlexBox in order to align its child elements (.male & .female) side by side */
  width: 100vw; /* Full screen Width (100% of the *viewport* width) */
  height: 100vh; /* Full screen Heigh (100% of the *viewport* height) */
  overflow: hidden; /* Makes content disappear/hidden if they spill outside the container */
  position: relative; /* Makes sure any child element with `absolute` position is placed relative to this container */
}

.female,
.male {
  flex: 1; /* Each child takes 50% of the container (1:1 ratio) */
  position: relative; /* Allows child elements (.text-overlay) to position themselves inside this container */
  transition: all 0.5s ease-in-out; /* transition Speed + transition type -> Image Expanding*/
  overflow: hidden; /* Hides anything that goes outside the section */
}

.female img,
.male img {
  width: 100%; /* Image takes the full width of its container */
  height: 100%; /* Image takes the full height of its container */
  object-fit: cover; /* Makes sure the image fills its box without stretching, it will zoom and crop to fit */
  /* transition: transform 0.5s ease-in-out; /* Image Zoom in When Hovered. !?Remove?!  */
}

.text-overlay button {
  position: absolute; /* Positions button on top of the image */
  background: transparent; /* Fully transparent background */
  color: white; /* White text */
  border: none; /* no borders */
  padding: 13x 30px; /* Button Size */
  font-size: 43px; /* Text Size */
  cursor: pointer; /* Turns the mouse into a pointer */
  text-transform: uppercase; /* Makes text all uppercase */
  font-weight: bold;
  font-weight: 400; /* Makes it extra bold */
  font-family: "Bebas Neue";
  letter-spacing: 2px; /* Spaced between the letters */
  transition: 0.3s ease-in-out;
  line-height: 39px; /* Height of the text */
}

.female .text-overlay button {
  /* Button sticks to the left bottom corner */
  left: 10px;
  bottom: 10px;
}
.male .text-overlay button {
  /* Button sticks to the left bottom corner */
  right: 10px;
  bottom: 10px;
}

.full-width {
  width: 100%; /*Expands selected image to full width */
}

.hidden {
  display: none; /* Hides the image completely */
}

.title {
  width: 470px;
  height: 300px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  position: absolute;
  z-index: 3;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  top: 300px;
  left: 200px;
}

.title h1 {
  font-size: 100px;
}

/* Hover effect - Fade and Slide Up */
.female:hover .title,
.male:hover .title {
  transform: translateY(-20px); /* Moves title up slightly */
}

.female:hover,
.male:hover {
  flex: 3; /* Expand the hovered section*/
}

.female:hover img,
.male:hover img {
  transform: scale(1.1); /* Slightly enlarge the image */
}

a {
  color: white;
  text-decoration: underline;
}

.quality {
  display: flex;
  position: relative; /* Ensures child elements are positioned inside this */
  width: 100%; /* Adjust as needed */
  height: 500px; /* Set a height to see the effect */
  background-color: lightgray; /* Just for visibility */
}

.quality-pic {
  flex: 1;
  width: 25%; /* Adjust as needed */
  height: 25%;
  top: 0;
  right: 0;
}

.modal-title {
  text-align: center;
  width: 100%;
}
.modal-content {
  background-color: #f8f9fa; /* Light gray background here if you want to change the modal color*/
  color: #333; /* Dark text color here to change the color of the text*/
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
}
.modal-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.forgot-password {
  font-size: 0.9rem;
  color: black;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  border-bottom: black solid 1px;
}
.forgot-password:hover {
  color: blue;
  border-bottom: blue solid 1px;
}

/* uncomment for the login and sign up desing*/

/* .loginButton {
  font-weight: normal;
  font-size: 16px;
  font-family: "Monotype Baskerville", serif;
  letter-spacing: .1em;
  line-height: 100%;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  border: 0.5px solid black;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  padding: 10.5px 0px 10.5px 0px;
  transition: background-color 0.1s linear;
}

.loginButton:hover {
  background-color: black;
  color: white;
}

.signupButton {
  font-weight: normal;
  font-size: 16px;
  font-family: "Monotype Baskerville", serif;
  letter-spacing: .1em;
  line-height: 100%;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  border: 0.5px solid black;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  padding: 10.5px 0px 10.5px 0px;
  transition: background-color 0.1s linear;
}

.signButton:hover {
  background-color: black;
  color: white;
} */
